---
layout: page
title: Publications
description: "Publications, open-access, full-text, Ricardo Martins, CIBIT, ICNAS, UC, University of Coimbra"
navorder: 3
permalink: /publications/
---
<div>
	<p><span class="rounded d-inline bg-secondary text-white">Follow:</span> | <a target="_blank" href="https://scholar.google.pt/citations?user=kJOYYusAAAAJ&amp;hl=en/">Google Scholar</a> | <a target="_blank" href="https://www.researchgate.net/profile/Ricardo_Martins5/">ResearchGate</a> | <a target="_blank" href="https://orcid.org/0000-0001-7184-185X">OrcID</a> | <a target="_blank" href="https://www.cienciavitae.pt/en/7F17-8F87-7BB8">Ciencia Vitae</a> | <a target="_blank" href="https://www.scopus.com/authid/detail.uri?authorId=57194264015">Scopus</a> | <a target="_blank" href="https://www.webofscience.com/wos/author/record/C-4965-2009/">Web of Science </a>| <a target="_blank" href="https://www.webofscience.com/wos/author/record/C-4965-2009">Reviewer Service</a> |</p>
</div>


<h3>Journal Papers</h3>
<ul class="list-unstyled lh-sm">
{% for member in site.data.myPublicationsJournal %}	
<li class="d-flex flex-column flex-lg-row ms-2"
<div class="row">
<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
	<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
	<p class="fw-bold m-0 mb-1">{{member.title}}</p>
	<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
	<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://doi.org/{{member.doi}}">full-text</a></p>
</div>
</div>
</li>
{% endfor %}
</ul>


<h3>Book Chapters</h3>
{% for member in site.data.myPublicationsBookChapter %}	
<div class="row">
<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
	<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
	<p class="fw-bold m-0 mb-1">{{member.title}}</p>
	<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
	<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://doi.org/{{member.doi}}">full-text</a></p>
</div>
</div>
{% endfor %}


<h3>Conference Papers</h3>
{% for member in site.data.myPublicationsConferencePaper %}	
<div class="row">
<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
	<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
	<p class="fw-bold m-0 mb-1">{{member.title}}</p>
	<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
	<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://doi.org/{{member.doi}}">full-text</a></p>
</div>
</div>
{% endfor %}


<h3>Conference Posters</h3>
{% for member in site.data.myPublicationsConferencePoster %}	
<div class="row">
<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
	<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
	<p class="fw-bold m-0 mb-1">{{member.title}}</p>
	<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
	<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://doi.org/{{member.doi}}">full-text</a></p>
</div>
</div>
{% endfor %}

<h3>Thesis and Dissertations</h3>
{% for member in site.data.myPublicationsThesis %}	
<div class="row">
<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
	<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
	<p class="fw-bold m-0 mb-1">{{member.title}}</p>
	<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
	<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://doi.org/{{member.doi}}">full-text</a></p>
</div>
</div>
{% endfor %}
