---
layout: page
title: Publications
description: "Publications, open-access, full-text, Ricardo Martins, CIBIT, ICNAS, UC, University of Coimbra"
navorder: 3
permalink: /publications/
---

<div class="row text-center mb-4">
	<p>[<a target="_blank" href="https://scholar.google.pt/citations?user=kJOYYusAAAAJ&amp;hl=en/">Google Scholar</a>] [<a target="_blank" href="https://www.researchgate.net/profile/Ricardo_Martins5/">ResearchGate</a>] [<a target="_blank" href="https://orcid.org/0000-0001-7184-185X">OrcID</a>] [<a target="_blank" href="https://www.cienciavitae.pt/en/7F17-8F87-7BB8">Ciencia Vitae</a>] [<a target="_blank" href="https://www.scopus.com/authid/detail.uri?authorId=57194264015">Scopus</a>] [<a target="_blank" href="https://www.webofscience.com/wos/author/record/C-4965-2009/">Web of Science </a>] [<a target="_blank" href="https://www.webofscience.com/wos/author/record/C-4965-2009">Reviewer Service</a>]</p>
</div>

<div class="row">
	
	<div class="col-lg-2">

		<div class="d-block d-lg-none text-center mb-3">
			<div class="btn btn-group p-0 flex-wrap aos-init aos-animate" role="tablist" data-aos="fade-up"> <!-- adicionei flex-wrap para os botões colapsarem em ecrãs pequenos -->
	

				<button type="button" class="btn btn-secondary rounded-0 active" data-bs-toggle="tab" data-bs-target="#pub-1" role="tab" aria-controls="pub-1" aria-selected="true">
					<span class="fs-6">Journal Articles</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>				
								
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#pub-2" role="tab" aria-controls="pub-2" aria-selected="false" tabindex="-1">
					<span class="fs-6">Conference</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
								
							
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#pub-3" role="tab" aria-controls="pub-3" aria-selected="false" tabindex="-1">
					<span class="fs-6">Thesis, Dissertations</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
			</div>
		</div>
		
		
		<div class="d-none d-lg-block">
			<div class="btn btn-group-vertical p-0 flex-wrap aos-init aos-animate" role="tablist" data-aos="fade-up"> <!-- adicionei flex-wrap para os botões colapsarem em ecrãs pequenos -->
				
				<button type="button" class="btn btn-secondary rounded-0 active" data-bs-toggle="tab" data-bs-target="#pub-1" role="tab" aria-controls="pub-1" aria-selected="true">
					<span class="fs-6">Journal Articles</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
						
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#pub-2" role="tab" aria-controls="pub-2" aria-selected="false" tabindex="-1">
					<span class="fs-6">Conference</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#pub-3" role="tab" aria-controls="pub-3" aria-selected="false" tabindex="-1">
					<span class="fs-6">Thesis, Dissertations</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
			</div>
		</div>		
	</div>


	<div class="col-lg-10">
				
		<div class="tab-content aos-init aos-animate" data-aos="fade-up">
			<div class="tab-pane fade active show" id="pub-1" role="tabpanel" aria-labelledby="pub-1-tab">

				<!-- adicionei esta linha para exibir o topico/titulo do dia que acrescentei na estrutura de dados do programa -->
				<h3 class="fw-bold d-flex flex-column flex-lg-row mb-4">Journal Articles</h3>
				{% for member in site.data.myPublicationsJournal %}	
				<div class="row ms-4">
				<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
					<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
					<p class="fw-bold m-0 mb-1">{{member.title}}</p>
					<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
					  {% if member.link %}
						<p class="fw-normal m-0 mb-1">
						  [<a target="_blank" href="{{ member.link }}">Full-Text</a>] [<a target="_blank" href="https://doi.org/{{ member.doi }}">{{ member.doi }}</a>] [<a target="_blank" href="{{ member.bib }}">BibTeX</a>]
						</p>
						
				
						<script type="application/ld+json">
						  {
							"@context": "https://schema.org",
							"@type": "ScholarlyArticle",
							"headline": {{ member.title | jsonify }},
							"name": {{ member.title | jsonify }},
							"datePublished": {{ member.year | jsonify }},
							"isPartOf": {
							  "@type": "Periodical",
							  "name": {{ member.publication | jsonify }}
							},
							"identifier": {{ member.doi | jsonify }},
							"url": {{ member.doi | jsonify }},
							"author": [
								{% assign author_array = member.authors | split: ", " %}
							    {% for author_name in author_array %}
									{
									"@type": "Person",
									"name": {{ author_name | strip | jsonify }}
									}{% unless forloop.last %},{% endunless %}
								{% endfor %}
							]
						  }
						</script>
						
						
						
					  {% endif %}
				</div>
				</div>
				{% endfor %}					
			</div>					

			<div class="tab-pane fade" id="pub-2" role="tabpanel" aria-labelledby="pub-2-tab">

				<!-- adicionei esta linha para exibir o topico/titulo do dia que acrescentei na estrutura de dados do programa -->
				<h3 class="fw-bold d-flex flex-column flex-lg-row mb-4">Conference (Abstracts/Posters, Papers)</h3>
				{% for member in site.data.myPublicationsConferencePoster %}	
				<div class="row ms-4">
				<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
					<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
					<p class="fw-bold m-0 mb-1">{{member.title}}</p>
					<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
					  {% if member.link %}
						<p class="fw-normal m-0 mb-1">
						  [<a target="_blank" href="{{ member.link }}">full-text</a>] [<a target="_blank" href="https://doi.org/{{ member.doi }}">{{ member.doi }}</a>]
						</p>
					  {% endif %}
				</div>
				</div>
				{% endfor %}				
			</div>
			
			<div class="tab-pane fade" id="pub-3" role="tabpanel" aria-labelledby="pub-3-tab">

				<!-- adicionei esta linha para exibir o topico/titulo do dia que acrescentei na estrutura de dados do programa -->
				<h3 class="fw-bold d-flex flex-column flex-lg-row mb-4">Thesis and Dissertations</h3>
				{% for member in site.data.myPublicationsThesis %}	
				<div class="row ms-4">
				<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
					<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
					<p class="fw-bold m-0 mb-1">{{member.title}}</p>
					<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
					  {% if member.link %}
						<p class="fw-normal m-0 mb-1">
						  [<a target="_blank" href="{{ member.link }}">full-text</a>] [<a target="_blank" href="https://doi.org/{{ member.doi }}">{{ member.doi }}</a>]
						</p>
					  {% endif %}
				</div>
				</div>
				{% endfor %}
				<br>				
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>			
			</div>		
			
		</div>
	</div>	
</div>