---
layout: page
title: Publications
description: "Publications, open-access, full-text, Ricardo Martins, CIBIT, ICNAS, UC, University of Coimbra"
navorder: 3
permalink: /publications/
---

<div class="row">
	
	
	<div class="col-lg-2">

		<div class="d-block d-lg-none text-center mb-3">
			<div class="btn btn-group p-0 flex-wrap aos-init aos-animate" role="tablist" data-aos="fade-up"> <!-- adicionei flex-wrap para os botões colapsarem em ecrãs pequenos -->
	
				
				
				
				<button type="button" class="btn btn-secondary rounded-0 active" data-bs-toggle="tab" data-bs-target="#day-1" role="tab" aria-controls="day-1" aria-selected="true">
					<span class="fs-6">Journal Articles</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#day-2" role="tab" aria-controls="day-2" aria-selected="false" tabindex="-1">
					<span class="fs-6">Book Chapters</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#day-3" role="tab" aria-controls="day-3" aria-selected="false" tabindex="-1">
					<span class="fs-6">Conference Papers</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#day-4" role="tab" aria-controls="day-4" aria-selected="false" tabindex="-1">
					<span class="fs-6">Conference Abstracts</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#day-5" role="tab" aria-controls="day-5" aria-selected="false" tabindex="-1">
					<span class="fs-6">Thesis, Dissertations</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
			</div>
		</div>
		
		
		<div class="d-none d-lg-block">
			<div class="btn btn-group-vertical p-0 flex-wrap aos-init aos-animate" role="tablist" data-aos="fade-up"> <!-- adicionei flex-wrap para os botões colapsarem em ecrãs pequenos -->
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0 active" data-bs-toggle="tab" data-bs-target="#day-1" role="tab" aria-controls="day-1" aria-selected="true">
					<span class="fs-6">Journal Articles</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#day-2" role="tab" aria-controls="day-2" aria-selected="false" tabindex="-1">
					<span class="fs-6">Book Chapters</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#day-3" role="tab" aria-controls="day-3" aria-selected="false" tabindex="-1">
					<span class="fs-6">Conference Papers</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#day-4" role="tab" aria-controls="day-4" aria-selected="false" tabindex="-1">
					<span class="fs-6">Conference Abstracts</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
				
				
				
				<button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="tab" data-bs-target="#day-5" role="tab" aria-controls="day-5" aria-selected="false" tabindex="-1">
					<span class="fs-6">Thesis, Dissertations</span> <!-- mudei fs-5 por fs-6 para o tamanho de texto ficar mais pequeno -->
				</button>
				
			</div>
		</div>
		
	</div>


	<div class="col-lg-10">
		
				
		<div class="tab-content aos-init aos-animate" data-aos="fade-up">
			<div class="tab-pane fade active show" id="day-1" role="tabpanel" aria-labelledby="day-1-tab">

				<!-- adicionei esta linha para exibir o topico/titulo do dia que acrescentei na estrutura de dados do programa -->
				<h3 class="fw-bold d-flex flex-column flex-lg-row mb-4">Journal Articles</h3>
				{% for member in site.data.myPublicationsJournal %}	
				<div class="row ms-4">
				<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
					<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
					<p class="fw-bold m-0 mb-1">{{member.title}}</p>
					<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
					<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://{{member.link}}">full-text</a></p>
				</div>
				</div>
				{% endfor %}				
				
			</div>
			
			<div class="tab-pane fade" id="day-2" role="tabpanel" aria-labelledby="day-2-tab">

				<!-- adicionei esta linha para exibir o topico/titulo do dia que acrescentei na estrutura de dados do programa -->
				<h3 class="fw-bold d-flex flex-column flex-lg-row mb-4">Book Chapters</h3>
				{% for member in site.data.myPublicationsBookChapter %}	
				<div class="row ms-4">
				<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
					<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
					<p class="fw-bold m-0 mb-1">{{member.title}}</p>
					<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
					<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://{{member.link}}">full-text</a></p>
				</div>
				</div>
				{% endfor %}				
			</div>
			
			<div class="tab-pane fade" id="day-3" role="tabpanel" aria-labelledby="day-3-tab">

				<!-- adicionei esta linha para exibir o topico/titulo do dia que acrescentei na estrutura de dados do programa -->
				<h3 class="fw-bold d-flex flex-column flex-lg-row mb-4">Conference Papers</h3>
				{% for member in site.data.myPublicationsConferencePaper %}	
				<div class="row ms-4">
				<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
					<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
					<p class="fw-bold m-0 mb-1">{{member.title}}</p>
					<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
					<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://{{member.link}}">full-text</a></p>
				</div>
				</div>
				{% endfor %}				
			</div>		

			<div class="tab-pane fade" id="day-4" role="tabpanel" aria-labelledby="day-4-tab">

				<!-- adicionei esta linha para exibir o topico/titulo do dia que acrescentei na estrutura de dados do programa -->
				<h3 class="fw-bold d-flex flex-column flex-lg-row mb-4">Conference Abstracts</h3>
				{% for member in site.data.myPublicationsConferencePoster %}	
				<div class="row ms-4">
				<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
					<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
					<p class="fw-bold m-0 mb-1">{{member.title}}</p>
					<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
					<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://{{member.link}}">full-text</a></p>
				</div>
				</div>
				{% endfor %}				
			</div>
			
			<div class="tab-pane fade" id="day-5" role="tabpanel" aria-labelledby="day-5-tab">

				<!-- adicionei esta linha para exibir o topico/titulo do dia que acrescentei na estrutura de dados do programa -->
				<h3 class="fw-bold d-flex flex-column flex-lg-row mb-4">Thesis and Dissertations</h3>
				{% for member in site.data.myPublicationsThesis %}	
				<div class="row ms-4">
				<div class="col-md-12 border-start border-5 border-gray-4 mb-3">
					<p class="fw-normal m-0 mb-1"><span class="text-muted">{{member.year}} | {{member.publication}}</span></p>
					<p class="fw-bold m-0 mb-1">{{member.title}}</p>
					<p class="fst-italic m-0 mb-1">{{member.authors}}</p>
					<p class="fw-normal m-0 mb-1"><a href="https://doi.org/{{member.doi}}">{{member.doi}}</a> | <a href="https://{{member.link}}">full-text</a></p>
				</div>
				</div>
				{% endfor %}
				<br>				
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>		
			
		</div>
	</div>	
</div>