<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-35975530-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-35975530-1');
	</script>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Ricardo Martins">
    <meta name="robots" content="follow, index" />
    <link rel="icon" href="/myFiles/icon.png">
    <meta property="og:image" content="/myFiles/computer-logo.png" />
	<meta name="thumbnail" content="/myFiles/computer-logo.png" />
	<meta name="msvalidate.01" content="47227EF2BFDFF5563A2C27A2E0C923DA" />

    <title>{{ page.title }} Ricardo Martins | Postdoctoral Researcher | CIBIT ICNAS | UC - University of Coimbra</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/myStyle/narrow-jumbotron.css" rel="stylesheet">
	
</head>