<head>	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Ricardo Martins">
    <meta name="robots" content="follow, index" />
    <link rel="icon" href="/myFiles/icon.png">
    <meta name="thumbnail" content="/myFiles/computer-logo.png" />

    <title>{{ page.title }} | Ricardo Martins | Postdoctoral Researcher | CIBIT ICNAS | University of Coimbra</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/myStyle/narrow-jumbotron.css" rel="stylesheet">
	<!-- google analytics - i will not share this data with google -->
</head>