<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9FHB9GXE81"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-9FHB9GXE81');
	</script>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Ricardo Martins">
    <meta name="robots" content="follow, index" />
    <link rel="icon" href="/myFiles/icon.png">
    <meta property="og:image" content="/myFiles/computer-logo.png" />
	<meta name="thumbnail" content="/myFiles/computer-logo.png" />
	<link rel="canonical" href="{{site.url}}{{ page.url }}" />


    <title>{{ page.title }} | Ricardo Martins | CIBIT ICNAS | UC - University of Coimbra</title>	
	
    
	<link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/leaflet.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/open-color.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.url }}">
	
	
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://ricardomar.github.io/cv",  
  "name": "Ricardo Martins",
  "givenName": "Ricardo",
  "familyName": "Martins",
  "jobTitle": "Quantitative Neuroimaging Research Technician",
  "description": "Quantitative Neuroimaging Research Technician specializing in fMRI, MRI, PET. PhD in Electrical and Computer Engineering. MSc in Biomedical Engineering.",
  "url": "https://ricardomar.github.io/",
  "image": "https://ricardomar.github.io/assets/images/photo-ricardo-martins-02.jpg",
  "email": "mailto:ricardo.martins@uc.pt",
  "affiliation": [
    {
      "@type": "Organization",
      "name": "ICNAS - Institute for Nuclear Sciences Applied to Health",
      "url": "https://www.uc.pt/icnas"
    },
    {
      "@type": "Organization",
      "name": "CIBIT - Coimbra Institute for Biomedical Imaging and Translational Research",
      "url": "https://www.uc.pt/icnas/cibit/"
    },
    {
      "@type": "Organization",
      "name": "University of Coimbra",
      "url": "https://www.uc.pt/"
    }
  ],
  "alumniOf": [
    {
      "@type": "EducationalOrganization",
      "name": "University of Coimbra",
      "description": "PhD in Electrical and Computer Engineering; MSc in Biomedical Engineering"
    }
  ],
  "sameAs": [
    "https://orcid.org/0000-0001-7184-185X",
    "https://www.linkedin.com/in/ricmartins/",
    "https://www.researchgate.net/profile/Ricardo_Martins5/",
    "https://scholar.google.pt/citations?user=kJOYYusAAAAJ&hl=en/",
    "https://www.cienciavitae.pt/en/7F17-8F87-7BB8",
    "https://www.scopus.com/authid/detail.uri?authorId=57194264015",
    "https://www.webofscience.com/wos/author/record/C-4965-2009/",
    "https://github.com/ricardomar",
    "https://apps.uc.pt/mypage/staff/uc42282/en/"
  ],
  "knowsAbout": [
    "Quantitative Neuroimaging",
    "Biomedical Imaging",
    "Translational Research",
    "Biostatistics",
    "Multivariate signal and brain image processing",
    "Computational modeling",
    "Machine intelligence",
    "Positron Emission Tomography (PET)",
    "Magnetic Resonance Imaging (MRI)",
    "Functional Magnetic Resonance Imaging (fMRI)"
  ]
}
</script>
	
	
</head>