---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        <hr class="my-4">
		<p class="text-center"><small class="text-muted">A edição de 2024 da Escola de Verão CIBIT-ICNAS já terminou! <br>Segue as atividades do CIBIT-UC nas redes sociais: <a href="https://www.instagram.com/cibit_uc/" target="_blank">Instagram</a>, <a href="https://x.com/CIBIT_UC" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/cibituc/posts/?feedView=all" target="_blank">LinkedIn</a>.</small></p>
        {{ content }}
    </div>
	
	<p></br></p>	
	<p></br></p>	
	<p></br></p>	
	<p></br></p>
	<p></br></p>	
	<p></br></p>
	<p></br></p>	
	<p></br></p>
	<p></br></p>	
	<p></br></p>
	
</main>

{% include footer.html %}